@tailwind base;
@tailwind components;
@tailwind utilities;

.card2 {
   
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center !important;
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) rotate(-5deg)  !important;
   
}